{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome to <span class="ring-blue">ringleton skeleton</span></h1>
        <p>
            Congratulations! You have successfully installed the
            <a href="https://github.com/s-ringert/skeleton" target="_blank">ringleton skeleton application</a>.
            This skeleton can serve as a simple starting point for you to begin building your application.
        </p>
    </div>

    <div>
        <h2>Build on:</h2><br/>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Laminas Mezzio</li>
            <li class="list-group-item">Twig</li>
            <li class="list-group-item">Boostrap</li>
            <li class="list-group-item">Doctrine</li>
            <li class="list-group-item">Docker</li>
            <li class="list-group-item">Travis CI</li>
        </ul>
    </div>

{% endblock %}
